extends ../projects_layout

block body
    script(src='http://www.d3plus.org/js/d3.js')
    script(src='http://www.d3plus.org/js/d3plus.js')
    script(src='/foundation/foundation.min.js')
    link(rel='stylesheet', href='/foundation/foundation.min.css')

    style.
        .strokeblack {
            stroke: rgb(0, 0, 0);
            stroke-width: 2px;


    div.container-fulid(style='z-index:0;position:absolute;left:0px;top:0px;width:100%;background:#000000')
        div#renderer(style='height:100vh;background:#ffffff')

    div(style='position:absolute;left:20px;top:20px;width:150px')
        input#inputFileName(type='text', value='default',name='name', placeholder="download filename", style='border-radius:0px;font-size:15px;height:35px;margin:0px;')
        input(type='submit', value='Download To SVG', style='width:100%;margin:0px;',onclick='downloadSvg()').btn.btn-primary
        button.btn.btn-danger(onclick='saveArcToDB()', style='width:150px;margin:0px;') Save To Database

    div(style='position:absolute;left:20px;top:180px;width:150px')
        input#inputSearchName(type='text', value='default',name='name', placeholder="download filename", style='border-radius:0px;font-size:15px;height:35px;width:100%;margin:0px;')
        button.btn.btn-danger(onclick='loadArcsFromDB()', style='width:150px;margin:0px;') Load To Database

    div#dbList(style='position:absolute;left:20px;top:270px;width:150px')


    div(style='position:absolute;right:20px;top:20px;width:300px;')
        div(align='center')
            button.btn.btn-success(onclick='appendArcElement()', style='width:100%') Append Element


        h5(style='font-size:20px' align='center')#div_selected_number SELECTED : 1
        div(align='left')
            div#div_inputs

    div(style='position:absolute;right:340px;top:20px;width:50px;')
        div#div_elements


    div(style='z-index:100;position:absolute;right:120px;top:620px;width:200px;', data-slider='')
        h5(style='font-size:16px;color:#404040') Hue
            input(onchange='onChangeHSB(this.value)',type='range' , style='width:300px')
        p
        h5(style='font-size:16px;color:#404040') Saturation (not work)
            input(type='range' , style='width:300px')
        p
        h5(style='font-size:16px;color:#404040') Brightness (not work)
            input(type='range' , style='width:300px')


    script(src='/javascripts/ci/FileSaver.js')
    script(src='/javascripts/ci/svgtopdf.js')
    script(src='/javascripts/ci/jspdf.js')
    script(src='/javascripts/ci/download.js')


    script(src='/javascripts/ci/freearc.js')




