//
   Created by hyunwoo on 11/10/15.

extends ../../intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                Cluster
            h5.fit
                c2.
    div.container-fluid.content
        p
        div.center.c2.strike
            span
                h3
                    span.glyphicon.glyphicon-bookmark(style='font-size:17px')
                    | &nbsp;&nbsp;Overview
        .space
        div.row
            div.col-lg-4
                a.img-part.hvr-reveal(href='#', style='background-image: url("/img/apis/lda/abstract.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Overview
                        h5.fit.c6 Download LDA Topic Modeling Document
            div.col-lg-8.img-content
                h4.light(style='line-height: 160%;font-size:15px').
                    BODY
                p.double
                h4
                    div.strike.c4
                        span Description
                div.row
                    div.col-lg-6
                        h4.fit.light(style='line-height: 160%;font-size:15px').
                            <br><strong> 사용방법 :</strong>
                    div.col-lg-6
                        h4.fit.light(style='line-height: 160%;font-size:15px').
                            <br><strong> 주의사항 : </strong>
        p.double
        div.center.c3.strike
            span
                h3
                    span.glyphicon.glyphicon-play-circle(style='font-size:17px')
                    | &nbsp;&nbsp;Input CSV
        .space
        div.row
            h4
                div.col-lg-9
                    textarea#TextInput(style='width:100%; height:250px; padding-left : 10px', placeholder="(CNN) -- At least one person was killed as a 6.9-magnitude earthquake struck Monday morning in southern Mexico's Chiapas state near the border with Guatemala, authorities in Chiapas said. The quake happened at 6:23 a.m. (7:23 a.m. ET), about 1 mile from Puerto Madero, Mexico, which is on the country's Pacific coast. Strong shaking was felt in southern Chiapas state and western Guatemala, according to the U.S. Geological Survey. In the Chiapas town of Huixtla, about 30 miles (48 kilometers) to the north of the epicenter, a person died after a wall fell on him, Chiapas' state civil protection system said on Twitter on Monday. The quake damaged part of an airport in Tapachula, a Mexican city of about 300,000 people near the Guatemala border. Lights hung precariously by wires, and debris littered a floor, pictures that the city government posted to Twitter show. The epicenter was about 127 miles (204 kilometers) west of Guatemala's capital, Guatemala City. The depth of the quake was 37 miles, the USGS said. The USGS initially said the magnitude was 7.1. CNN's Jessica King and Jason Hanna contributed to this report.", align='center')
                div.col-lg-3(style='height:250px')
                    .radio
                        label
                            input(type='radio', name='optradio')
                            | K-Means
                    .radio
                        label
                            input(type='radio', name='optradio')
                            | DBScan
                    .radio
                        label
                            input(type='radio', name='optradio')
                            | Optics
                    p
                    h5.fit(style='margin-bottom:5px') : Cluster Count
                    input#TopicCount(placehorder="4",style='width:100%; height : 30px; padding-left:10px;', type="number")
                    p(style='height:10px')
                    button.btn.btn-info(style='width:100%; height:60px;', onclick='onLDA()') Scrap
        p.double
        h4.c4.fit(style='margin-left:15px')
            span.glyphicon.glyphicon-erase(style='font-size:17px')
            | &nbsp;&nbsp;Clustering Result
        div#result(style='margin:15px; ')
            div.row
                div.col-lg-6
                    h5 Visualization :
                    img(style='width:100%')#newsImage
                div.col-lg-6
                    h5 Result Json OUTPUT :
                    pre
                        h5.light#JSONOutput
                        | TEST VVVVVV
                p
    script.
        function onLDA() {
            var text = document.getElementById('TextInput').value;
            if (text == null || text == '')
                text = document.getElementById('TextInput').placeholder;
            var topic_count = Number(document.getElementById('TopicCount').value);
            var topic_element_count = Number(document.getElementById('TopicElementCount').value);
            console.log(text);
            $.post('/apis/lda/topicmodeling', {
                        text: text,
                        topic_count: topic_count,
                        topic_element_count: topic_element_count
                    },
                    function (d) {
                        console.log(d);
                        document.getElementById('JSONOutput').innerHTML = JSON.stringify(d.topics, null, 2);
                    })
        }
