//
   Created by hyunwoo on 12/22/15.

extends ../../universe_parent
block content
    div.container
        p
        .alert.alert-danger(align='center')
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            h4.fit <strong>Current version is not stable</strong> .
        p

    div.container-fulid(style='width:100%')
        div.row(style='height:600px;margin:30px')
            div.col-lg-6(style='height:100%;padding:15px;padding-right:5px')
                div#renderer_scatterplot.border(style='height:100%')
            div.col-lg-6(style='height:100%;padding:15px;padding-left:5px')
                div#renderer_starplot.border(style='height:100%')