//
   Created by Luan on 15. 6. 3..

p
legend
div(align='center' , style='margin-left:20px')
    p
    div.row
        h4.
            powered by
            <strong> H.HYUNWOO </strong>
        body(style='margin-top:-2px').
            Copyright© 2015 Hyunwoo Han All rights reserved


