extends intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                아주대학교 통합 디자인 연구실
            h5.fit
                c2.
                    INTEGRATED DESIGN LAB
    div.img-header(style='background-image: url("/img/intro_0.png");')
        text.animated.wow.fadeInLeft
            h2.fit.
                Intergrated&nbsp;Design LAB
            h3.fit.light Ajou University

    // Projects
    legend
    div.container-fluid.content
        p.triple
        div.center.c2.strike
            span
                h3
                    span.glyphicon.glyphicon-th-large(style='font-size:22px')
                    | &nbsp;Projects

        .space
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h3.fit.c5 CRC
                        h6.fit.light.c6 Ajou University
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h3.fit.c5 Pedigree
                        h6.fit.light.c6 Ajou University
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h3.fit.c5 NWS
                        h6.fit.light.c6 Ajou University


        // Researchs
        p.triple
        div.center.c3.strike
            span
                h3
                    span.glyphicon.glyphicon-tasks(style='font-size:22px')
                    | &nbsp;Researchs
        .space
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-6
                a.img-part.hvr-reveal(style='background-image: url("/img/cosmovis/index.png");', href='/projects/cosmovis/')
                    text
                        h4.fit.c5 Cosmovis
                        h5.fit.c6.light Ajou University
            div.col-lg-6
                a.img-part.hvr-reveal(style='background-image: url("/img/logonetwork/index.png");', href='/projects/logonetwork/')
                    text
                        h4.fit.c5 Logo Network
                        h5.fit.c6.light Ajou University


        // System
        p.triple
        div.center.c4.strike
            span
                h3
                    span.glyphicon.glyphicon-cog(style='font-size:22px')
                    | &nbsp;&nbsp;SYSTEMS
        .space
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-6
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 News Topic Modeling
                        h5.fit.c6.light Ajou University
            div.col-lg-6
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 Data Cluster
                        h5.fit.c6.light Ajou University
        p.double
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 Forced Netowrk
                        h5.fit.c6.light Ajou University
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 Network
                        h5.fit.c6.light Ajou University
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 Graphs
                        h5.fit.c6.light samples are web visualzation

        div.row
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 Sunbursts
                        h5.fit.c6.light samples are web visualzation
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 TreeMaps
                        h5.fit.c6.light samples are web visualzation
            div.col-lg-4
                div.img-part(style='background-image: url("/img/wip.png");')
                    text
                        h4.fit.c5 Stream Graphs
                        h5.fit.c6.light samples are web visualzation




        // System
        p.triple
        div.center.c4.strike
            span
                h3
                    span.glyphicon.glyphicon-object-align-bottom(style='font-size:22px')
                    | &nbsp;&nbsp;&nbsp;APIS
        .space
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-4
                a.img-part.hvr-reveal(style='background-image:url("/img/apis/sitescraper/sitescraper.png");', href='/apis/sitescraper')
                    text.animated.wow.fadeIn
                        h4.fit.c5 Site Scraper
                        h5.fit.c6.light do scrap : headline, text, image ...
            div.col-lg-4
                a.img-part.hvr-reveal(style='background-image: url("/img/wip.png");',href='/apis/cluster')
                    text.animated.wow.fadeIn
                        h4.fit.c5 Data Cluster
                        h5.fit.c6.light samples are web visualzation
            div.col-lg-4
                a.img-part.hvr-sweep-to-left(style='background-image: url("/img/wip.png");')
                    text.animated.wow.fadeIn
                        h4.fit.c5 Joseon Dynasty Database
                        h5.fit.c6.light samples are web visualzation
        p.double
        div.row
            div.col-lg-4
                a.img-part.hvr-reveal(style='background-image: url("/img/apis/lda/abstract.png");', href='/apis/lda/')
                    text.animated.wow.fadeIn
                        h4.fit.c5 LDA
                        h5.fit.c6.light LDA Topic modeling API
            div.col-lg-4
                a.img-part.hvr-sweep-to-left(style='background-image: url("/img/wip.png");')
                    text.animated.wow.fadeIn
                        h4.fit.c5 English Stemmer
                        h5.fit.c6.light Ajou University
            div.col-lg-4
                a.img-part.hvr-sweep-to-left(style='background-image: url("/img/wip.png");')
                    text.animated.wow.fadeIn
                        h4.fit.c5 Korean Stemmer
                        h5.fit.c6.light Ajou University




