//
   Created by Luan on 15. 4. 7..

extends layout
block content
    div.row
    form(method='post', action='/kmeans')
        div
            input(type='text', name='body', id='data', style='width:100%;height:300px;')
        button.btn.btn-info(type='submit')
            h4 Test
    script.
        $(function() {
            $("#data").on("keyup", function(e){
                $("#keyCode").html(e.which);
                    if(e.which==13)
                        {
                            alert("enter Key");
                        }
                });
        });
