doctype html
html
    head
        title IDLAB Verify
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="http://code.jquery.com/ui/1.10.2/jquery-ui.js")

        //link(rel='stylesheet', href='/dist/css/docs.min.css'
        link(rel='stylesheet', href='/stylesheets/style.css', media='screen')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='http://nvd3.org/assets/css/nv.d3.css')

        script(src='/dist/js/bootstrap.js')
        script(src='/javascripts/javascripts/script.js')
        script(src='http://d3js.org/d3.v3.min.js')
        script(src='http://felix-kling.de/JSNetworkX/javascripts/jsnetworkx.js')
        script(src='http://nvd3.org//assets/js/nv.d3.js')


    body
        div.navbar.navbar-fixed-top.affix-top(data-spy='affix', data-offset-top='1')
            div.navbar-inner
                div.container
                    ul.nav
                        li.active
                            a(href='/') Home
                        li
                            a(href='/verify') Verify
                        li
                            a(href='/visualization') Visualization

                    div.navbar-text.pull-right
                        ul.nav.pull-right
                            li
                                a Sign In
                            li
                                a Sign Up
                            li
                                a(href='https://github.com/')
                                    | Fork me on
                                    strong GitHub

    block content


