doctype html
html
    head
        meta(charset='utf-8')
        title IDLAB
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="http://code.jquery.com/ui/1.10.2/jquery-ui.js")
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/codemirror.js')
        script(src='http://d3js.org/d3.v3.min.js')
        script(src='http://felix-kling.de/JSNetworkX/javascripts/jsnetworkx.js')
        script(src='http://nvd3.org/assets/js/nv.d3.js')
        script(src='/javascripts/nodejs/node-tooltip.js')
        script(src='/js/sliiide.js')
        script(src='/js/validate.js')
        script(type='text/javascript', src='/js/scrollTo.js')
        script(type='text/javascript', src='/js/owl.carousel.min.js')
        script(type='text/javascript', src='/js/wow.js')
        script(type='text/javascript', src='/js/parallax.js')
        script(type='text/javascript', src='/js/nicescroll.js')
        script(type='text/javascript', src='/js/main.js')

        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/node-tooltip.css')
        link(rel='stylesheet', href='/stylesheets/CodeMirror/codemirror.css')
        link(rel='stylesheet', href='/stylesheets/CodeMirror/3024-day.css')
        link(rel='stylesheet', href='http://nvd3.org/assets/css/nv.d3.css')
        link(rel='stylesheet', href='/lucust/css/lucust.css')
        link(rel='stylesheet', type='text/css', href='/css/owl.transitions.css')
        link(rel='stylesheet', type='text/css', href='/css/owl.carousel.css')
        link(rel='stylesheet', type='text/css', href='/css/animate.css')
        link(rel='stylesheet', type='text/css', href='/css/hoveranimation.css')

    body#body
        header
            nav.navbar.navbar-default.sidebar.desktop( role='navigation', data-spy='affix', data-offset-top='-10' , style='z-index:100')
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            p aa
                        li
                            a(href='/', style='font-size:15px') Home
                                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px; margin-right:5px')
                        li
                            a.dropdown-toggle( data-toggle='dropdown', style='font-size:15px') Projects &nbsp;
                                span.caret
                                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-th-large(style='font-size:16px; margin-right:5px')
                            ul.dropdown-menu.forAnimate(role='menu')
                                li.item
                                    a(href="/projects/cosmovis/", style='font-size:14px') CRC
                                li.item
                                    a(href='#', style='font-size:14px') Pedigree
                                li.item
                                    a(href='#', style='font-size:14px') NWS
                        li
                            a.dropdown-toggle(href='#', data-toggle='dropdown', style='font-size:15px') Researchs &nbsp;
                                span.caret
                                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-tasks(style='font-size:16px; margin-right:5px')
                            ul.dropdown-menu.forAnimate(role='menu')
                                li.item
                                    a(href="/projects/cosmovis", style='font-size:14px') Cosmovis
                                li.item
                                    a(href='#', style='font-size:14px') Logo Network

                        li
                            a.dropdown-toggle(href='#', data-toggle='dropdown', style='font-size:15px') Systems &nbsp;
                                span.caret
                                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-cog(style='font-size:16px; margin-right:5px')

                            ul.dropdown-menu.forAnimate(role='menu')
                                li.separator - Visualize being developed
                                li.item
                                    a(href='#', style='font-size:14px') Network Samples
                                li.item
                                    a(href='#', style='font-size:14px') MDS Samples
                                li.separator - Functions being developed
                                li.item
                                    a(href='#', style='font-size:14px') Topic Analysis
                                li.item
                                    a(href='#', style='font-size:14px') Twitter Crawler
                                li.item
                                    a(href='#', style='font-size:14px') Stemming
                        li
                            a(href='#', style='font-size:15px') Message
                                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-open(style='font-size:16px; margin-right:5px')

        body
            div(style="min-height:100%; height:100%")
                block content
                include ./footer.jade


