//
   Created by hyunwoo on 2015-04-23.

extends layout
block content
    div(id='header', style=' padding-top:25px; margin-bottom:50px')
        div.container
            h1 Projects
            h3(style='color:#aaaaaa') asdfasdf

    body
        div.container
            div.row
                div.col-sm-3.sidebar
                    ul.nav.nav-list.sidenav.affix-top(data-spy='affix', data-offset-top='140')
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/twittermood') #1. Twitter Mood
                        li
                            h5 data
                        li
                            a(href='/projects/twittermood/twits') Twits
                        li
                            a(href='/projects/twittermood/weatherdata') Weather Data
                        li
                            h5 reference
                        li
                            a(href='/projects/twittermood/worldmap') WorldMap

                        p(style='margin-bottom:25px')
                        legend
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/logonetwork') #2. Logo Network
                        li
                            h5 reference
                        li
                            a(href='/projects/logonetwork/multicamera') MultiCamera
                        li
                            a(href='/projects/logonetwork/filterednetwork') Filtered Network
                        p
                        legend
                        li
                            h5 prototype
                        li
                            a(href='/projects/logonetwork/prototype01') Prototype 01
                        li
                            a(href='/projects/logonetwork/prototype02') Prototype 02
                        p(style='margin-bottom:25px')
                        legend
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/twittermood') #3. Twitterian Network
                        li
                            a(href='/projects/twittermood/twits') Logo Example
                        li
                            a(href='/projects/streamgraph') StreamGraph
                        li
                            a(href='/projects/forcedirectedgraph') Force Directed Graph
                div.col-sm-9
                    block body



