//
   Created by hyunwoo on 2015-04-23.

extends layout
block content
    div(id='header', style=' padding-top:25px; margin-bottom:50px')
        div.container
            h1 Projects
            h3(style='color:#aaaaaa') asdfasdf

    body
        div.container
            div.row
                div.col-sm-3.sidebar
                    ul.nav.nav-list.sidenav.affix-top( data-offset-top='140')
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/topicnetwork') #0. Topic Network
                        li
                            a(href='/projects/topicnetwork/lda') Topic Clust & Networking
                        p(style='margin-bottom:25px')
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/joseondynasty') #1. Annals of the Joseon Dynasty
                        li
                            a(href='/projects/joseondynasty/data') Annals of the Joseon Dynasty's Data
                        li
                            a(href='/projects/joseondynasty/eachking') King's Tendency 01
                        li
                            a(href='/projects/joseondynasty/eachkingStackGraph') King's Tendency 02
                        p(style='margin-bottom:25px')
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/twittermood') #2. Twitter Mood
                        li
                            a(href='/projects/twittermood/multi_country') Dual Country
                        li
                            a(href='/projects/twittermood/graphs') Graphs
                        li
                            a(href='/projects/twittermood/sentiment') Sentiment
                        //li
                        //    a(href='/projects/twittermood/worldmap') WorldMap
                        p(style='margin-bottom:25px')
                        li.active(style='margin-bottom:15px')
                            a(href='/projects/logonetwork') #3. Logo Network
                        li
                            a(href='/projects/logonetwork/circularParellar') Circle Parellar
                        li
                            a(href='/projects/logonetwork/multicamera') MultiCamera
                        li
                            a(href='/projects/logonetwork/filterednetwork') Filtered Network
                        li
                            a(href='/projects/logonetwork/prototype01') Prototype 01
                        li
                            a(href='/projects/logonetwork/prototype02') Prototype 02


                div.col-sm-9
                    block body
        p
        include ./footer.jade


