//
   Created by hyunwoo on 2015-04-23.

extends layout
block content
    div(style='width:100%; height:230px; background-image: url(/img/visualization/visualization_02.png);margin:-20px; background-size:cover;')
        div.center
            h2
                a(style='margin-top:5cm') #
                | &nbsp;Data Visulization
            h4(style='color:#5f5f5f', align='center') asdfasdf

    body
        div.container
            //(style='margin-left:30px; margin-right:30px')
            div.row
                div.col-lg-2.sidebar
                    ul.nav.nav-list.sidenav.affix-top( data-offset-top='140')
                        h4
                            a #
                            | &nbsp;Topic Analysis
                        li
                            a(href='/projects/topicnetwork/lda') Topic Networking
                        //li
                            a(href='/projects/topicnetwork/twitViewer') Twitter Topics
                        p(style='margin-bottom:20px')
                        //
                            li.active(style='margin-bottom:15px')

                                a(href='/projects/joseondynasty') #1. Annals of the Joseon Dynasty
                            li
                                a(href='/projects/joseondynasty/data') Annals of the Joseon Dynasty's Data
                            li
                                a(href='/projects/joseondynasty/eachking') King's Tendency 01
                            li
                                a(href='/projects/joseondynasty/eachkingStackGraph') King's Tendency 02
                        p(style='margin-bottom:20px')
                        h4
                            a #
                            | &nbsp;Twitter Mood
                        li
                            a(href='/projects/twittermood/multi_country') Dual Country
                        li
                            a(href='/projects/twittermood/graphs') Graphs
                        li
                            a(href='/projects/twittermood/sentiment') Sentiment
                        li
                            a(href='/projects/twittermood/russells_model') Russells Model
                        //li
                        //    a(href='/projects/twittermood/worldmap') WorldMap
                        p(style='margin-bottom:20px')
                        h4
                            a #
                            | &nbsp;Logo Network
                        li
                            a(href='/projects/logonetwork/circularParellar') Circle Parellar
                        li
                            a(href='/projects/logonetwork/filterednetwork') Filtered Network
                        h4
                            a #
                            | &nbsp;Cosmovis
                        li
                            a(href='/visualization/cosmovis') Viewer


                div.col-lg-10(style='padding-top:40px')
                    block body
        p



