//
   Created by hyunwoo on 2015-04-22.

extends layout
block content
    div(id='header', style=' padding-top:25px; margin-bottom:50px')
        div.container
            h1 Data Verify
            h3(style='color:#aaaaaa') asdfasdf

    body
        div.container
            div.row
                div.col-sm-3.sidebar
                    ul.nav.nav-list.sidenav.affix-top(data-spy='affix', data-offset-top='140')
                        li.active
                            a(href='#install') Verify
                        legend
                        li
                            a(href='#install') K-Means
                        li
                            a(href='#create') EM Algorism
                        li
                            a(href='#nodes_edges') TF-IDF
                        li
                            a(href='#attributes') Attributes
                        li
                            a(href='#analysis') Analyzing graphs
                        li
                            a(href='#drawing') Drawing
                div.col-sm-9
                    div.bs-callout
