//
   Created by hyunwoo on 2015-04-23.

extends layout
block content
   //div(id='header', style=' padding-top:25px; margin-bottom:50px')
   div(style='width:100%; height:230px; background-image: url(../img/visualization/visualization_02.png);margin:-20px; background-size:cover;')
      div.center
         h2
            a(style='margin-top:5cm') #
            | &nbsp;Data Visulization
         h4(style='color:#5f5f5f', align='center') asdfasdf

   body
      div.container
         div.row
            div.col-sm-3.sidebar
               ul.nav.nav-list.sidenav.affix-top(data-spy='affix', data-offset-top='140')
                  h4
                     a #
                     | &nbsp;Visualization
                  li
                     a(href='/visualization/network') Network
                  li
                     a(href='/visualization/streamgraph') StreamGraph
                  li
                     a(href='/visualization/forcedirectedgraph') Force Directed Graph
                  li
                     a(href='/visualization/chorddiagram') Chord Diagram
                  p
                  h4
                     a #
                     | &nbsp;D3Plus

                  li
                     a(href='/visualization/line_graph') line graph
                  li
                     a(href='/visualization/stacked_line_graph') stacked line graph
                  li
                     a(href='/visualization/focused_line_graph') focused line graph

            div.col-sm-9
               block body
