//
   Created by hyunwoo on 2015-04-23.

extends layout
block content
   div(id='header', style=' padding-top:25px; margin-bottom:50px')
      div.container
         h1 Data Visulization
         h3(style='color:#aaaaaa') asdfasdf

   body
      div.container
         div.row
            div.col-sm-3.sidebar
               ul.nav.nav-list.sidenav.affix-top(data-spy='affix', data-offset-top='140')
                  li.active
                     a(href='/visualization/') Visualization
                  li
                     a(href='/visualization/network') Network
                  li
                     a(href='/visualization/streamgraph') StreamGraph
                  li
                     a(href='/visualization/forcedirectedgraph') Force Directed Graph
                  li
                     a(href='/visualization/chorddiagram') Chord Diagram
                  legend
                  li.active
                     a D3Plus
                  li
                     a(href='/visualization/line_graph') line graph
                  li
                     a(href='/visualization/stacked_line_graph') stacked line graph
                  li
                     a(href='/visualization/focused_line_graph') focused line graph

            div.col-sm-9
               block body
