@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.window {
    min-width: 1200px;
    width: 100%;
    position: relative;
    background-color: #F8F8F8;
    font-family: 'Hanna', serif;
}

.window > .filter {
    position: absolute;
    top: 40px;
    left: 0;
    width: 450px;
    height: calc(100% - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
    background-color: #fff;
}

.window > .filter.hide {
    left: -450px;
}

/* suhyun */
.window > .graph-bg {
    position: relative;
    width: 1280px;
    margin: auto;
    height: 100vh;
    z-index: 1;
    display: none;
}

.window > .graph-bg.open{
    display: block;
}

.window > .story-telling {
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #524642;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 250px;
    font-weight: 100;
    z-index: 99;
}
.question.cloudAndBar{
    top: 90px;
    width: 600px;
    left: calc(50% - 300px);
    background: rgba(248,248,248,0.9);
}

.question {
    position: absolute;
    top: 36%;
    left: calc(50% - 200px);
    width: 400px;
    margin: auto;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    white-space: pre-wrap;
    word-break: keep-all;
    line-height: 50px;
    color: #535353;
    z-index: 9999999;
}

.pieGraphLine {
    stroke: #282828;
    stroke-width: 1px;
}

.fulid-svg {
    width: 100%;
    height: 100%;
}

/* suhyun */

.window > .actor {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.window > .actor > select.que {
    display: inline-block;
    margin-top: 5px;
    margin-left: 50px;
    width: 350px;
    height: calc(100% - 10px);
    font-size: 15px;
    padding-left: 10px;
    vertical-align: top;
}



.window > .actor > select.visMode {
    margin-top: 5px;
    margin-left: 10px;
    height: calc(100% - 10px);
    width: 200px;
    font-size: 15px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;

}

.window > .actor > select > option {
    font-size: 20px;
    line-height: 30px;
}

.window > .actor > .action {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    background: #ccc;
    margin-left : 15px;
    color: #0a6d9b;
    cursor: pointer;
    /*border: solid 1px #666;*/
}

.window > .actor > .closer {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 50px;
    text-align: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    cursor: pointer;
}

.window > .actor > .closer:hover {
    background: #ccc;

}

.window > .actor > .action:hover {
    background: #ddd;
}

.initItem {
    display: none;
}

.window > .filter > .item {
    font-size: 25px;
}

.window > .filter > .header {

}

.window > .filter > .group {
    padding: 10px;
    margin-bottom: 20px;
}

.window > .filter > .group > .name {
    font-size: 15px;
}

.window > .filter > .group > .ipt {
    display: inline-block;
    padding: 10px;
}

.window > .filter > .group > .ipt > input {
    cursor: pointer;
}

.window > .filter > .group > .ipt > .item-text {
    cursor: pointer;
    font-size: 12px;
    padding-left: 10px;
}

/* bar chart */

.axis-text {
    font-size: 17px;
}

.percent-font {
    font-size: 25px;
}
