doctype html
html
    head
        // App Title
        title Capture - Free Bootstrap App Landing Page
        // App Description
        meta(name='description', content='Capture is a free bootstrap v3.3.2 app landing page perfect to present you IOS, android or windows application in an elegant way.')
        meta(charset='utf-8')
        meta(name='author', content='pixelhint.com')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='css/owl.transitions.css')
        link(rel='stylesheet', type='text/css', href='css/owl.carousel.css')
        link(rel='stylesheet', type='text/css', href='css/animate.css')
        link(rel='stylesheet', type='text/css', href='css/main.css')
        script(type='text/javascript', src='js/jquery.js')
        script(type='text/javascript', src='js/ajaxchimp.js')
        script(type='text/javascript', src='js/scrollTo.js')
        script(type='text/javascript', src='js/owl.carousel.min.js')
        script(type='text/javascript', src='js/wow.js')
        script(type='text/javascript', src='js/parallax.js')
        script(type='text/javascript', src='js/nicescroll.js')
        script(type='text/javascript', src='js/main.js')
    body
        section#hero.hero
            .container
                .caption
                    h1.text-uppercase.animated.wow.fadeInLeft Take Photos Like A Pro.
                    p.text-lowercase.animated.wow.fadeInLeft
                        | With only your iphone and capture app you can take stunning image like a professional Photographer.
                    a.app_store_btn.text-uppercase.animated.wow.fadeInLeft(href='http://pixelhint.com/capture-free-responsive-bootstrap-app-landing-page-theme')
                        i.iphone_icon
                        span Iphone App
                    a.app_store_btn.text-uppercase.animated.wow.fadeInLeft(href='http://pixelhint.com/capture-free-responsive-bootstrap-app-landing-page-theme')
                        i.android_icon
                        span Android App
        // End Hero Section
        // Featured On Section
