//
   Created by Luan on 2015. 12. 21..

extends universe_parent
block content
    div
        div.container-fulid
            div.background-main(style='height:720px')
                div(style='position:absolute;right:75px;top:160px;')
                    h1.fit.c-white.bold(style='font-size:70px') UNIVERSE
                    h3.fit.c-white.light(style='font-size:26px;margin-top:-15px')  Have an insight from your data
            div.container-fulid
                div.row(style='padding-left:100px; padding-right:100px; margin-top:-100px; height:200px;')
                    div.col-sm-3.hvr-overline-reveal(style='height:200px;padding:20px;background-color:rgba(0,0,0,0.9)')
                        h2.fit.bold.c-white(style='font-size:33px') Network
                        p(style='height:10px')
                        h4.light.c-lightgray.fit(style='margin-top:-15px') Network visualization with upset system
                    div.col-sm-3.hvr-overline-reveal(style='height:200px;padding:20px;background-color:rgba(0,0,0,0.9)')
                        h2.fit.bold.c-white(style='font-size:33px') Hierarchy
                        p(style='height:10px')
                        h4.light.c-lightgray.fit(style='margin-top:-15px') data visualization with upset system
                    div.col-sm-3.hvr-overline-reveal(style='height:200px;padding:20px;background-color:rgba(0,0,0,0.9)')
                        h2.fit.bold.c-white(style='font-size:33px') Dashboard
                        p(style='height:10px')
                        h4.light.c-lightgray.fit(style='margin-top:-15px') data visualization with upset system
                    div.col-sm-3.hvr-overline-reveal(style='height:200px;padding:20px;background-color:rgba(0,0,0,0.9)')
                        h2.fit.bold.c-white(style='font-size:33px') Text
                        p(style='height:10px')
                        h4.light.c-lightgray.fit(style='margin-top:-15px') data visualization with upset system

        div.container
            div.background-getstart(style='padding-left:100px; margin-right:65px; margin-top:100px;  height: 300px')
                h3.light.c-orange Foxtail <strong>UNIVERSE</strong> System
                h2.fit.bold ASDF
                h3.fit(style='margin-top:-8px') ASDFASDF
            p.double
            div.background-getapi(style='margin-left:65px; padding-right:100px; margin-top:100px;  height: 300px')
                div(align='right')
                    h3.light.c-darkblue Get <strong>API</strong> for data analysis
                    h2.fit.bold ASDF
                    h3.fit(style='margin-top:-8px') ASDFASDF



