//
   Created by hyunwoo on 12/22/15.

extends ../../../universe_parent
block content
    div.container
        p
        .alert.alert-danger(align='center')
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            h4.fit <strong>Current version is not stable</strong> .
        p

    div.container-fulid
        div.row(style='height:600px')
            div.col-lg-6.border
            div.col-lg-6.border


