extends ../../intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div(style='width:100%;height:100vh;background-color: #000000;')
        div#renderer(style='position:absolute;left:0%;width:100%;top:0%;height:100%;background-color: #000;z-index:0;' )
        div#window_scenario(style='position:absolute;right:20px;width:370px;top:110px;height:200px;z-index:0;' )
            table
                tr
                    td
                        h3.fit.bold.c5(style='font-size:27px')#text_code Section
                    td
                        table#img_parent(style='margin-left:10px')
                            tr
                                td(style='margin:15px')#face_00
                                td(style='margin:15px')#face_01
                                td(style='margin:15px')#face_02
                                td(style='margin:15px')#face_03

            h4.c5.bold#text_part 주요 구성 업종 : 레저, 음식
            h5.c5#text_desc 일과 여가를 즐기며 퇴근후 시간을 활용하는 젊은 감각의 남성들이 이용하는 MarketPlace
        div.borderSmooth#d3_time(style='position:absolute;right:20px;width:370px;top:280px;height:200px; background: rgba(0, 0, 0, 0.9);z-index:0;border-color:#e8e8e6' )
        div.borderSmooth#d3_gender(style='position:absolute;right:20px;width:370px;top:490px;height:200px; background: rgba(0, 0, 0, 0.9);z-index:0;border-color:#e8e8e6' )
        div#renderer_head(style='position:absolute;left:4%;width:400px;top:2%;height:630px;z-index:1;pointer-events: none;padding:10px 20px;background: rgba(0, 0, 0, 0.0);' )
            img(style='position:absolute;left:10px;top:10px;width:54px;height:54px;', src='/lecture/201502/img/marketplacecode9icon.png')
            div(style='position:absolute;left:75px;top:2px;')
                h3.fit.bold(style='font-size:29px;color:#e8e8e6') Marketplace SECTION9
                h4.fit(style='font-size:19px;margin-top:-5px;color:#c8c8c8') The SECTION9 about type of business
            div(style='position:absolute;top:105px;left:10px;width:330px')
                -var height = '38px';
                -var img_size = '25px';

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#f58d92;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 브라보라이프 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M40.png')
                    div(style='position:absolute;left:183px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W40.png')
                    div(style='position:absolute;left:213px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M60.png')
                    div(style='position:absolute;left:243px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W60.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#4ebabb;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 인스피리언스 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M20.png')
                    div(style='position:absolute;left:183px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W20.png')
                    div(style='position:absolute;left:213px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M40.png')
                    div(style='position:absolute;left:243px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W40.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#ebe57c;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 2080 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M20.png')
                    div(style='position:absolute;left:183px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W20.png')
                    div(style='position:absolute;left:213px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M60.png')
                    div(style='position:absolute;left:243px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W60.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#bfb196;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 실버 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M60.png')
                    div(style='position:absolute;left:183px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W60.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#119768;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 슬로비 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M40.png')
                    div(style='position:absolute;left:183px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M60.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#f4c221;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 올빼미 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M20.png')
                    div(style='position:absolute;left:183px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W20.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#8555a3;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 루틴 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M40.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#3780bb;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 보보스 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/M20.png')
                p(style='height:20px')

                div(style='padding-right:2px;padding-bottom:4px;')
                    div(style='position:absolute;left:0px;width:25px;height:25px;background-color:#e14046;')
                    div(style='position:absolute;left:33px;margin-top:3px;').h4.fit.c5 포미 존
                    div(style='position:absolute;left:153px')
                        img(style='margin-top:-0px;margin-right:2px;width:' + img_size + ';height:' + img_size,src='/lecture/201502/img/W20.png')
                p(style='height:20px')






    style.
        .borderSmooth {
            border: solid;
            border-width: 1px;
            border-color: #a0a0a0;
        }

    link(rel='stylesheet', href='/css/vis.css')
    script(src='/js/vis.js')
    script(src='/lecture/201502/data/edges.js')
    script(src='/lecture/201502/data/nodes.js')
    script(src='/lecture/201502/data/groupinfo.js')
    script(src='/lecture/201502/data/scenario_data.js')
    script(src='/lecture/201502/marketplace_network.js')
    script(src='/lecture/201502/d3_timegraph.js')
    script(src='/lecture/201502/d3_gendergraph.js')
    script.
        var a = 0;
        var group_count = {};
        renderer();
        renderer.render();
        renderer.onSetScenario(setScenario);

        d3_time();
        d3_time.initialize();

        d3_gender();
        d3_gender.initialize();
        d3_gender.draw(0);



        function setScenario(g) {
            console.log('input : ', g);
            var data = scenarios['' + g];
            if (data !== undefined) {

                for (var i = 0; i < 4; i++) {
                    document.getElementById('face_0' + i).innerHTML = "";
                }

                for (var i = 0; i < data.img.length; i++) {
                    var innerhtml = '\<img style=\"width:35px;height:35px\", src=\'/lecture/201502/img/' + data.img[i] + '.png\'\>\</img\>';

                    document.getElementById('face_0' + i).innerHTML = innerhtml;

                }

                document.getElementById('text_code').innerHTML = data.name;
                document.getElementById('text_part').innerHTML = '주요구성업종 : ' + data.part;
                document.getElementById('text_desc').innerHTML = data.desc;
            }
        }
        //d3_time.draw();


        // draw headline



