//
   Created by Luan on 2015. 11. 18..

extends ../../intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                CRC - Free Forced Network
            h5.fiter
                c2.
                    단백질 유전자의 네트워크 시각화
    div#renderer(style='width:100%;height:90vh')
    div(style='position:absolute;right:30px; top:100px; width:100px; background:#3f3f3f;')
        input#StartIndex(placehorder="4",style='width:100px; height : 30px; padding-left:10px;border-width:2px;border-color:#3f3f3f', type="number")
        h5.c6.light.fit.center(style='font-size:12px').
            input 1 ~ 14000
        p
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData1()') 250
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData2()') 500
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData3()') 1000

    style.
        .node {
            font-size: 3px;
            font-family: inherit;

            fill: #000;
            opacity : .4;
        }

        .node:hover {
            fill: #FF0000;
            opacity : 1.0;
            font-weight : 600;
            font-size : 4px;
        }

        .link {
            stroke: #688BAB;
            stroke-opacity: .5;
            stroke-width : 0.2px;
            fill: none;
            pointer-events: none;
        }

        .node:hover,
        .node--source,
        .node--target {
            font-weight: 600;
            opacity : 1.0;
        }

        .node--source ,
        .node--target {
            fill: #EA842A;
        }

        .link--source,
        .link--target {
            stroke-opacity: 1;
            stroke-width: 0.4px;
        }
        .link--target ,
        .link--source {
            stroke: #E25A42;
        }

    script(src='/projects/crc/temp_data_proto2.js')
    script(src='/projects/crc/crc_proto02.js')
    script.
        getNetworkData(500);
        function onPressGetData1() {
            getNetworkData(250);
        }

        function onPressGetData2() {
            getNetworkData(500);
        }

        function onPressGetData3() {
            getNetworkData(1000);
        }

        function getNetworkData(count) {
            var val = document.getElementById('StartIndex').value;
            if (val === undefined || val == "") val = 0;
            var url = '/projects/crc/getBundleData?start=' + val + '&count=' + count;
            console.log(url);
            $.get(url, function (d) {
                console.log(JSON.stringify(d,null,4));
                if(d.success)
                    render(d.data);
            })
        }

