//
   Created by Luan on 2015. 11. 19..

//
   Created by Luan on 2015. 11. 18..

extends ../../intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                CRC - Free Forced Network
            h5.fiter
                c2.
                    단백질 유전자의 네트워크 시각화
    div#renderer(style='width:100%;height:100vh;background-color: #222222;' )
    //#loadingBar
        .outerBorder
            #text 0%
            #border
                #bar
    div(style='position:absolute;right:30px; top:100px; width:100px; background-color: #3f3f3f;')
        input#StartIndex(placehorder="4",style='width:100px; height : 30px; padding-left:10px;border-width:2px;border-color:#3f3f3f', type="number")
        h5.c6.light.fit.center(style='font-size:12px').
            input 1 ~ 14000
        p
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData1()') 250
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData2()') 500
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData3()') 1,000
        div
            button.btn.btn-warning(type='button', style='width:100px', onclick='onPressGetData4()') 2,000

    style.
        #bar {
            position: absolute;
            top: 0px;
            left: 100px;
            width: 20px;
            height: 5px;
            margin: auto auto auto auto;
            border-radius: 2px;
            background: #EA8f00; /* Old browsers */
        }

        #loadingBar {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 902px;
            height: 902px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            opacity: 1;
        }

        #border {
            position: absolute;
            top: 10px;
            left: 110px;
            width: 500px;
            height: 23px;
            margin: auto auto auto auto;
        }

        #text {
            position: relative;
            top: 30px;
            left: 230px;
            width: 30px;
            height: 50px;
            margin: auto 150px auto auto;
            font-size: 15px;
            color: #000000;
        }

        div.outerBorder {
            position: relative;
            top: 300px;
            width: 600px;
            height: 44px;
            margin: auto auto auto auto;
        }



    link(rel='stylesheet', href='/css/vis.css')
    script(src='/js/vis.js')
    script(src='/projects/crc/crc_proto03.js')
    script(src='/projects/crc/temp_data_proto3.js')
    script.
        renderer();
        getNetworkData(250);
        function onPressGetData1() {
            getNetworkData(250);
        }

        function onPressGetData2() {
            getNetworkData(500);
        }

        function onPressGetData3() {
            getNetworkData(1000);
        }
        function onPressGetData4() {
            getNetworkData(2000);
        }
        function getNetworkData(count) {
            //renderer.clearProgress();
            var val = document.getElementById('StartIndex').value;
            if (val === undefined || val == "") val = 0;
            var url = '/projects/crc/getVisNetwork?start=' + val + '&count=' + count;
            console.log(url);
            $.get(url, function (d) {
                renderer.render(d);
            })
        }


