//
   Created by Luan on 2015. 11. 18..

extends ../../intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                CRC - Free Forced Network
            h5.fiter
                c2.
                    단백질 유전자의 네트워크 시각화
    div#renderer(style='width:100%;height:80vh')
    div.row
        div.col-sm-6
            div#canvas1
        div.col-sm-6
            div#canvas2
    style.
        body {
            overflow: hidden;
            margin: 0;
        }

        text {
            font-family: sans-serif;
            pointer-events: none;
        }
    script(src='/projects/crc/tempdata.js')
    script(src='/projects/crc/crc_proto01.js')
