//
   Created by Luan on 2015. 12. 21..

extends ../universe_parent
block content
    //div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                Project Universe
            h5.fit
                c2.
                    데이터 시각화 분석의 일반화
    script(type='text/javascript', src='/universe/universe_file_upload.js')
    div.container-fulid.background-upload(style='height:1120px;')
        p.double
        div.container
            form(method='post', action='/')
                div.row.fit#parent_upload
                    div.col-sm-1
                    div.col-sm-6
                        div.border-dark(style='width:100%;height:500px;padding:15px; margin-top:150px;background-color:rgba(255,255,255,0.8)')
                            h2(align='center').fit.bold.c-darkgray RULE
                            h4.light.c-darkgray 1. Only <strong>numeric</strong> data can be used
                            h4.light.c-darkgray 2. The current version only supports <strong>CSV</strong>
                            h4.light.c-darkgray 3. First coloum must be <strong>Data Group Name</strong>
                            h4.light.c-darkgray 4. First row must be <strong>Unique Data Name</strong>
                            h4.light.c-darkgray 5. File size limit is <strong>5MB</strong>
                            p.double(style='height:20px')
                            div(align='center')
                                h5.bold.c-darkblue SAMPLE DATA
                                img(src='/universe/image/image_explane_csv.png', style='width:100%')

                    div.col-sm-4
                        div.border-dark(style='width:100%;height:500px;margin: auto; padding:15px; margin-top:150px;background-color:rgba(255,255,255,0.8)',align='center')
                            div(style='height:90px;width:100%')
                            div(style='height:195px;width:100%')
                                h4.fit.c-darkblue Verified User
                                h3.fit.c-darkgray#input_email(style='width:100%;height:35px',placeholder="ASDF") #{user.email}
                                p
                                .input-group(style='width:100%')
                                    span#basic-addon2.input-group-addon(style='width:90px') TITLE
                                    input.form-control#input_title(type='text', placeholder='Enter Your Data Name', aria-describedby='basic-addon2',style ='text-align:center')
                                p
                                .input-group(style='width:100%')
                                    span.input-group-btn
                                        span.btn.btn-inverse.btn-file.hvr-underline-reveal(style='width:90px')
                                            | CSV FILE
                                            input(type='file', name='myFile', id='myFile', placeholder='Choose CSV or TSV data file')
                                    input.form-control(type='text', readonly='' , placeholder='Choose CSV or TSV data file',style ='text-align:center')
                                p
                                div.form-actions
                                    input.btn.btn-warning(type='submit',style='width:100%', value='Upload File')
                                p
                            h5.c-darkgray#message(style='visibility:hidden') wait for upload file
                            h3.c-darkblue#progress_text(style='visibility:hidden') uploading
                            h2.bold.c-darkgray#progress_number(style='visibility:hidden') 100%
                        div#progress_bar(align='left',style='height:5px;width:0%;background-color:#FFAA00')
                p.double(style='height:10px')
                div.row.fit#parent_success(style='margin-top:-200px;opacity:0;')
                    div.col-sm-1
                    div.col-sm-10
                        a.btn.btn-success#btn-success(style='width:100%;height:110px;')
                            h2.fit Congratulations!
                            h4.fit.light Data upload finished. To view a visualization Now Click here



        p
        div.row.hide
            div.span12
                div.progress.progress-striped.active(style='margin:10px')
                    div.bar(style='width: 0%')
        div.row.hide
            div.span12
                div.alert
                    button.close(type='button', data-dismiss='alert') x
                    span
                        strong.message aa
