//
   Created by Luan on 15. 6. 3..
extends ../../projects_layout
block body
    script(src='http://www.d3plus.org/js/d3.js')
    script(src='http://www.d3plus.org/js/d3plus.js')
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                LDA Topic Modeling
            h5.fit
                c2.
                    LDA 기반 토픽 네트워크 분석
    div.container
        //- if(error === 'NODATA') {
            div.alert.alert-danger
                h4
                    span.glyphicon.glyphicon-remove-sign
                    strong &nbsp;입력된 데이터가 없습니다.
                h6
                    strong #Document
                    | 의 데이터가 입력되지 않았습니다.
        //- }
        p.double
        div.center.c.strike
            span
                h4
                    span.glyphicon.glyphicon-tag(style='font-size:17px')
                    | &nbsp;&nbsp;Notify
        p
        div.row
            div.col-lg-6
                h4.bold.c.
                    영어문서 에 대한 분석만 가능합니다.
                h5.
                    사전적 의미를 통해 토픽모델링을 진행하는데 있어,
                    영어 문서의 경우  소문자변환, 복수형제거, 불용어 처리를 수행하면 LDA 분석이 가능하지만,
                    한글과 같은 문자의 경우  형태소 분석 이후 관사 및 조사 처리 가 선행되어야 하므로
                    해당 시스템에서는 현재 한글 분석을 지원하지 못하고 있습니다.
                    <br><br>
                p
                h4.bold.c.
                    입력 문장이 긴 경우 분석이 느려질 수 있습니다.
                h5.
                    입력 문서 갈아에 따라서 LDA 연산이 기하급수적으로 늘어남에 따라, 긴 문서를 분석할 경우
                    분석 시간이 오래걸릴 수 있습니다. 웹 브라우저가 응답 대기중인 경우, 분석이 진행중이므로 기다려주세요.

            div.col-lg-6
                h4
                    strong 사용법
                h5.black.
                    1. 분석하고자 하는 문서를 아래 #Document탭의 입력창에 복사 합니다.<br>
                    2. 카테고리 수를 입력합니다.<br>
                    3. 각 카테고리가 가지는 토픽의 수를 입력합니다.<br>
                    4. 분석 시작 버튼을 클릭합니다
        p.triple
        div.center.c4.strike
            span
                h4
                    span.glyphicon.glyphicon-log-in(style='font-size:17px')
                    | &nbsp;&nbsp;Inputs
        div
            form(action='/projects/topicnetwork/lda',method='post')
                div(style='height:150px')
                    div.row
                        div.col-lg-8
                            div
                                h5.fit Site
                                input(type='text',value=topic_count,placeholder='2',name='topic' ,style='width:100%;height:30px;margin-top:5px;margin-bottom:5px;')
                            div.row
                                div.col-sm-6
                                    h5.fit Topic Count
                                    input(type='text',value=topic_count,placeholder='2',name='topic' ,style='width:100%;height:30px;margin-top:5px;margin-bottom:5px;')
                                div.col-sm-6
                                    h5.fit Word Count
                                    input(type='text',value=category_count,placeholder='5',name='category',style='width:100%;height:30px;margin-top:5px;margin-bottom:5px;')
                        div.col-lg-4
                            button.btn.btn-primary(type='submit',style='width:100%;height:85px;margin-top:20px') 분석시작
        label
            a #
            | &nbsp;Document
        textarea(id='document',type='text',value=data,placeholder='  input document',name='document' , style='width:100%;height:250px')
        p.double
        div.center.c4.strike
            span
                h4
                    span.glyphicon.glyphicon-tag(style='font-size:17px')
                    | &nbsp;&nbsp;Result





