extends ../../../universe_parent
block content

    <script src="https://d3js.org/d3.v3.min.js"></script>
    script(src = '/projects/ajou2017/vis.js')
    script(src='/projects/ajou2017/ajou2017.js')
    script(src='/projects/ajou2017/data/data_enter.js')
    script(src='/projects/ajou2017/data/data_grad.js')
    script(src='/projects/ajou2017/pieChart.js')
    script(src='/projects/ajou2017/barChart.js')
    script(src='/projects/ajou2017/network.js')
    script(src='/projects/ajou2017/d3cloud.js')
    script(src='/projects/ajou2017/wordCloud.js')
    script(src='/lodash/lodash.js')
    link(rel='stylesheet', href='/projects/ajou2017/ajou2017.css')
    link(rel='stylesheet', href='/projects/ajou2017/networkGenerator.css')
    //div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                CRC
            h5.fit
                c2.
                    단백질 유전자의 네트워크 시각화
    .group#itemOrigin
        .name ASDF
    .ipt#checkBoxItem
        input(type="checkbox" name="checkbox" id="checkbox_id" ).qu
        label(for="checkbox_id").item-text Text
    .window
        .filter#filters.hide
        .actor
            select#selectorQuestion.que
            select#selectorVisMode.visMode
                option BarGraph
                option WordCloud
                option PieChart
                option Network
            .action#actionClick.glyphicon.glyphicon-play
            .closer.glyphicon.glyphicon-th-list
        .graph-bg.open
            .question.cloudAndBar
        .network-bg
            #mynetwork
            #config
            .network-option-opener.glyphicon.glyphicon-plus
        .story-telling

    script(src='/projects/ajou2017/data/data_filter.js')
    script.
        $('.actor .closer').click(function () {
            if ($('#filters').hasClass('hide')) $('#filters').removeClass('hide');
            else $('#filters').addClass('hide');
        })
        $(function () {
            question = {'key': 'Q. 여러분은 대학생이 되면 가장\n 해보고 싶었던 것은 무엇인가요?', 'value': '신입생 여러분들이 대학생이 되면 가장 하고싶은건 바로 연애군요.'}

            var data = [
                {key: '연애', value: '56'},
                {key: '동아리', value: '47'},
                {key: 'MT', value: '29'},
                {key: '해외여행', value: '20'},
                {key: '공부', value: '17'},
                {key: '교환학생', value: '16'},
                {key: '캠퍼스', value: '13'},
                {key: '캠퍼스', value: '13'}
            ];

        });

