extends ../../../universe_parent
block content
    script(src='/projects/ajou2017/ajou2017.js')
    script(src='/projects/ajou2017/data/data_enter.js')
    script(src='/projects/ajou2017/data/data_grad.js')
    script(src='/lodash/lodash.js')
    link(rel='stylesheet', href='/projects/ajou2017/ajou2017.css')
    //div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                CRC
            h5.fit
                c2.
                    단백질 유전자의 네트워크 시각화
    .group#itemOrigin
        .name ASDF
    .ipt#checkBoxItem
        input(type="checkbox" name="checkbox" id="checkbox_id")
        label(for="checkbox_id").item-text Text
    .window
        .filter#filters
        .actor
            select
                option aa
                option aa
                option aa
                option aa
                option aa
                option aa
                option aa
            .action#actionClick
    script(src='/projects/ajou2017/data/data_filter.js')
