//
   Created by Luan on 15. 9. 15..
extends ../../projects_layout
block body
    script(src='http://www.d3plus.org/js/d3.js')
    script(src='http://www.d3plus.org/js/d3plus.js')
    div.container
        h3
            a #
            |  Sementic NODE
        legend

