//
   Created by Luan on 15. 9. 15..

extends ../../projects_layout
block body
    script(src='http://www.d3plus.org/js/d3.js')
    script(src='http://www.d3plus.org/js/d3plus.js')
    div.container-fluid
        h2
            a #
            |  D3 Tutorial 01
        legend
        div(id='canvas', style='width:100%; height:1200px; border:1px solid; background:#ffffff')
    script(src='/projects/sementicnode/js/sementicnode_viewer.js')

