extends ../../intro_layout
//<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
block body
    div.head
        div(align='center' , style='margin-left:20px')
            h4.fit.
                Logonetwork
            h5.fit
                c2.
                    로고 트렌드 분석
    div.img-header(style='background-image: url("/img/logonetwork/index.png");')
        text.animated.wow.fadeInLeft
            h2.fit.
                Logonetwork
            h3.fit.light AA
    legend
    div.container-fluid.content
        p.triple
        div.center.c2.strike
            span
                h3
                    span.glyphicon.glyphicon-tag(style='font-size:17px')
                    | &nbsp;&nbsp;Abstract
        .space
        div.row
            div.col-lg-4
                a.img-part.hvr-reveal(href='#', style='background-image: url("/img/logonetwork/abstract.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Abstract
                        h5.fit.light.c6 download Logonetwork PDF
            div.col-lg-8.img-content
                h4.light.
                    Logo, as a way to represent the identity of a company brand, is an essential design to deliver the value and meaning of the company.
                    <br><br>A design shape trend is necessary to read and predict the fast- moving global market environment, in order to design a competitive logo. This study thus created ‘Logo trend visualization’, which is a combination of Radviz and Circle parallel coordinate to provide a guideline to design a competitive logo, based on such background. As a consequence, we suggest that design shape elements such as transformation to surface, overlapping, artificiality, concept of color and rhythm should be emphasized, and that logo trend visualization facilitates the understanding of the trend of a logo, based on the addition (or elimination) of various design shape elements which accordingly creates a new trend.
                    <br><br>Permission to make digital or hard copies of all or part of this work for personal or classroom use is granted without fee provided that copies are not made or distributed for profit or commercial advantage and that copies bear this notice and the full citation on the first page. To copy otherwise, or republish, to post on servers or to redistribute to lists, requires prior specific permission and/or a fee. Request permissions from permissions@acm.org.
        p.triple
        div.center.c3.strike
            span
                h3
                    span.glyphicon.glyphicon-object-align-left(style='font-size:17px')
                    | &nbsp;&nbsp;Visualizations
        .space
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-12
                a.img-part.hvr-reveal(href='/projects/logonetwork/viewer',style='background-image: url("/img/logonetwork/visualization.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Visualization
                        h5.fit.light.c6 Radviz + Circle Coordinate


        p.triple
        div.center.c4.strike
            span
                h3
                    span.glyphicon.glyphicon-transfer(style='font-size:17px')
                    | &nbsp;&nbsp;Prototypes
        .space
        h4.light.
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
        div.row
            div.col-lg-6
                a.img-part.hvr-reveal(href='/projects/logonetwork/multicamera',style='background-image: url("/img/logonetwork/samples/sample_01.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Prototype 01
                        h5.fit.light.c6 Multi Camera & Canvas
            div.col-lg-6
                a.img-part.hvr-reveal(href='/projects/logonetwork/filterednetwork',style='background-image: url("/img/logonetwork/samples/sample_02.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Prototype 02
                        h5.fit.light.c6 Filtered Network
        p.double
        div.row
            div.col-lg-6
                a.img-part.hvr-reveal(href='/projects/logonetwork/prototype01',style='background-image: url("/img/logonetwork/samples/sample_03.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Prototype 03
                        h5.fit.light.c6 Free Forced Network
            div.col-lg-6
                a.img-part.hvr-reveal(href='/projects/logonetwork/prototype02',style='background-image: url("/img/logonetwork/samples/sample_04.png");')
                    text.space.animated.wow.fadeIn
                        h4.fit.c5 Prototype 04
                        h5.fit.light.c6 Connected Network